<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rnd.imapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.ViewPagerActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.InputQtyActivity"
            android:label="@string/so_input_qty"
            android:launchMode="singleTop"
            android:parentActivityName=".Activity.ScanStockOpnameActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.ScanStockOpnameActivity" />
        </activity>
        <activity
            android:name=".Activity.ScanStockOpnameActivity"
            android:label="@string/so_scan_barcode"
            android:launchMode="singleTop"
            android:parentActivityName=".Activity.ViewPagerActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.ViewPagerActivity" />
        </activity>
        <activity android:name=".Activity.BaseScannerActivity" />
        <activity
            android:name=".Activity.StockOpnameQtyActivity"
            android:label="@string/so_sisa_stok"
            android:parentActivityName=".Activity.ScanStockOpnameActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.ScanStockOpnameActivity" />
        </activity>
        <activity
            android:name=".Activity.HistoryByOrderActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".Activity.ViewPagerActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.ViewPagerActivity" />
        </activity>
        <activity
            android:name=".Activity.HistoryByItemActivity"
            android:label="@string/history_by_item_label"
            android:parentActivityName=".Activity.ViewPagerActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.ViewPagerActivity" />
        </activity>
        <activity
            android:name=".Activity.ScanAckActivity"
            android:label="@string/ack_scan_label"
            android:parentActivityName=".Activity.ViewPagerActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.ViewPagerActivity" />
        </activity>
        <activity
            android:name=".Activity.DisplayGraphicsActivity"
            android:label="@string/history_by_item_label"
            android:parentActivityName=".Activity.HistoryByItemActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.HistoryByItemActivity" />
        </activity>
        <activity
            android:name=".Activity.AckActivity"
            android:label="@string/ack_check_list"
            android:parentActivityName=".Activity.ViewPagerActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.ViewPagerActivity" />
        </activity>
        <activity
            android:name=".Activity.HistoryPeriodsActivity"
            android:parentActivityName=".Activity.HistoryByOrderActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.HistoryByOrderActivity" />
        </activity>
    </application>

</manifest>